:root {
  --bg-color: #212529;
  --font-color: #ebebeb;

  --p1-color: #2FA738;
  --p2-color: #AC3838;

  --points-bg-color: #df7016;
  --win-color: #ffd700;

  --gameBoard-bg-color: #666;

  --button-bg-color: #666;
}